<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/events.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/jpg" href="./images/favicon.ico"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/events"> <img src="./images/logo.jpg" alt="" class="catch-img"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                  <a class="nav-link active" aria-current="page" href="/events">Home</a>
                  <a class="nav-link active" aria-current="page" href="/eventadd">Add Events</a>
                  <a class="nav-link active" aria-current="page" href="/eventshow">Events</a>
                  <!-- <a class="nav-link" href="#">Profile</a> -->
                  <a class="nav-link active" href="/logout">Logout</a>
                </div>
              </div>
            </div>
        </nav>
    </header>

    

    