<%- include("header") %> 

<form action="/register/<%= event.id %>?_method=PUT" method="POST" class="mx-5">
    <a href="/events" class="btn btn-warning">Cancel</a>
    <button type="submit" class="btn btn-info center">register</button>
</form>