<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/pages/Events/events.css">
</head>
<body>
    <header class="nav">
        <a href="/index.html" class="brand-link">
            <spand class="brand-name">
                <img src="" alt="logo" class="brand-logo"/>
                <span>branD</span>
            </spand>
        </a>

        <div class="nav-links__section">
            <a href="#" class="nav-link">
                <span>Notifications</span>
            </a>
            <a href="#" class="nav-link">
                <span>Profile</span>
            </a>
        </div>
    </header>

    <div class="event-page-banner-container">
        <div class="text-overlay-container">
            <div class="text-overlay-text">
                Find your next event
            </div>
            <div class="text-overlay-searchbar">
                <input type="text" placeholder="Search">
                <!-- search icon -->
            </div>
        </div>
    </div>

    <div class="events-view">
        <ul class="events-listed">
            <li class="events-date-indicator">Friday, May 21</li>
            <ul class="events-listing-container">
                <li class="event-listed">
                    <a href="">
                        <div class="event-card">
                            <span class="event-time">
                                3:00 PM
                            </span>
                            <div class="event-card--row">
                                <div class="event-organisor">
                                    <span>HackClub</span>
                                </div>
                                <div class="event-title">
                                    <span>Join the HR Analytics WhatsApp group </span>
                                </div>
                                <div class="event-attendace">
                                    <div class="attending">
                                        <span>1 going</span>
                                    </div>
                                    <div class="upvotes">
                                        <span class="upvote">
                                            👍
                                        </span>
                                        <span>5</span>
                                    </div>
                                    <div class="downvotes">
                                        <span class="downvote">
                                            👎
                                        </span>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="event-listed">
                    <a href="">
                        <div class="event-card">
                            <span class="event-time">
                                3:00 PM
                            </span>
                            <div class="event-card--row">
                                <div class="event-organisor">
                                    <span>HackClub</span>
                                </div>
                                <div class="event-title">
                                    <span>HackBout 2.0</span>
                                </div>
                                <div class="event-attendace">
                                    <div class="attending">
                                        <span>1 going</span>
                                    </div>
                                    <div class="upvotes">
                                        <span class="upvote">
                                            👍
                                        </span>
                                        <span>5</span>
                                    </div>
                                    <div class="downvotes">
                                        <span class="downvote">
                                            👎
                                        </span>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <li class="events-date-indicator">Saturday, May 22</li>
            <ul class="events-listing-container">
                <li class="event-listed">
                    <a href="">
                        <div class="event-card">
                            <span class="event-time">
                                3:00 PM
                            </span>
                            <div class="event-card--row">
                                <div class="event-organisor">
                                    <span>HackClub</span>
                                </div>
                                <div class="event-title">
                                    <span>HackBout 2.0</span>
                                </div>
                                <div class="event-attendace">
                                    <div class="attending">
                                        <span>1 going</span>
                                    </div>
                                    <div class="upvotes">
                                        <span class="upvote">
                                            👍
                                        </span>
                                        <span>5</span>
                                    </div>
                                    <div class="downvotes">
                                        <span class="downvote">
                                            👎
                                        </span>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                
                <li class="event-listed">
                    <a href="">
                        <div class="event-card">
                            <span class="event-time">
                                3:00 PM
                            </span>
                            <div class="event-card--row">
                                <div class="event-organisor">
                                    <span>HackClub</span>
                                </div>
                                <div class="event-title">
                                    <span>HackBout 2.0</span>
                                </div>
                                <div class="event-attendace">
                                    <div class="attending">
                                        <span>1 going</span>
                                    </div>
                                    <div class="upvotes">
                                        <span class="upvote">
                                            👍
                                        </span>
                                        <span>5</span>
                                    </div>
                                    <div class="downvotes">
                                        <span class="downvote">
                                            👎
                                        </span>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <li class="events-date-indicator">Sunday, May 23</li>
            <ul class="events-listing-container">
                <li class="event-listed">
                    <a href="">
                        <div class="event-card">
                            <span class="event-time">
                                3:00 PM
                            </span>
                            <div class="event-card--row">
                                <div class="event-organisor">
                                    <span>HackClub</span>
                                </div>
                                <div class="event-title">
                                    <span>HackBout 2.0</span>
                                </div>
                                <div class="event-attendace">
                                    <div class="attending">
                                        <span>1 going</span>
                                    </div>
                                    <div class="upvotes">
                                        <span class="upvote">
                                            👍
                                        </span>
                                        <span>5</span>
                                    </div>
                                    <div class="downvotes">
                                        <span class="downvote">
                                            👎
                                        </span>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                
                <li class="event-listed">
                    <a href="">
                        <div class="event-card">
                            <span class="event-time">
                                3:00 PM
                            </span>
                            <div class="event-card--row">
                                <div class="event-organisor">
                                    <span>HackClub</span>
                                </div>
                                <div class="event-title">
                                    <span>HackBout 2.0</span>
                                </div>
                                <div class="event-attendace">
                                    <div class="attending">
                                        <span>1 going</span>
                                    </div>
                                    <div class="upvotes">
                                        <span class="upvote">
                                            👍
                                        </span>
                                        <span>5</span>
                                    </div>
                                    <div class="downvotes">
                                        <span class="downvote">
                                            👎
                                        </span>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </ul>
    </div>
</body>
</html>